# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage


.idea
.env

oauth-authentication/src/main/resources/application-local.yml

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*/target

frontend/*/dist
frontend/*/.idea
frontend/*/node_modules
frontend/*p/*.iml


