.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 确保容器充满整个屏幕 */
  background: #f8f8f8;
}

.banner {
  width: 100%; /* 轮播图宽度占满屏幕 */
  height: 33vh; /* 设置轮播图高度为屏幕高度的1/3 */
  position: relative; /* 为了定位指示器 */
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradientLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.indicatorContainer {
  position: absolute;
  bottom: 20%; /* 距离底部10px */
  right: 10px; /* 距离右侧10px */
  display: flex; /* 水平排列指示器 */
  justify-content: center; /* 居中对齐指示器 */
  align-items: center; /* 垂直居中指示器 */
  gap: 2px; /* 每个指示器之间的间距 */
}

.indicatorItem {
  width: 10px; /* 每个长方形的宽度 */
  height: 2px; /* 每个长方形的高度 */
  border-radius: 2px; /* 圆角效果 */
  transition: background-color 0.3s ease; /* 背景色切换时添加过渡效果 */
}

.userInfoCard {
  z-index: 100;
  margin-top: -10%;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* 轻微的阴影 */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userInfo {
    display: flex;
    flex: 1;

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #ccc;
    }

    .userBox {
      flex: 1;
      padding-left: 8px;

      padding-right: 20%;
    }

    .userName {
      font-size: 16px;
      color: #333;
      margin-bottom: 8px;
    }
  }

  .coupons {
    font-size: 12px;
    color: #666666;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .integral {
    color: #666666;
    font-size: 12px;
    display: flex;
    align-items: center;

    .integralBar {
      flex: 1;
      margin-right: 4px;
    }

    .integralText {
      flex: 0 0 auto;
    }
  }
}

.integralBanner {
  margin: 16px;
  box-sizing: border-box;
  height: 150px; /* 固定高度 */
  overflow: hidden; /* 防止图片溢出 */
  border-radius: 6px; /* 圆角 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* 轻微的阴影 */
  position: relative;
}

.bannerImage {
  width: 100%; /* 图片宽度占满容器 */
  height: auto; /* 高度自动调整，按比例缩放 */
}

.arrowButton {
  position: absolute;
  bottom: 40%; /* 箭头按钮距离底部10px */
  right: 10px; /* 箭头按钮距离右边10px */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15); /* 半透明背景 */
  border-radius: 50%;
  transform: rotate(-90deg);
}

.pickupBox {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  .pickupItem,
  .deliveryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%; /* 控制每项占容器的一半 */
    border-right: 1px solid #eee;
  }

  .pickupTitle,
  .deliveryTitle {
    font-size: 24px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .pickupDescription,
  .deliveryDescription {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
  }
}
