.sku-popup-box {
  border-radius: 10px;
  width: 330px;
}

.sku-popup-header {
  border-radius: 10px 10px 0 0;
  background: rgba(248, 247, 247, 0.76);

  display: flex;
  align-items: center;
  padding: 6px 16px 2px 16px;
  font-size: 18px;
  font-weight: 500;
}

.sku-popup-footer {
  border-radius: 0 0 10px 10px;
  background: rgba(248, 247, 247, 0.76);
  font-weight: 400;
  color: #666666;
  font-size: 12px;
}

.sku-result {
  border-bottom: 1px solid #f3f0f0;
  padding: 10px 16px;
}

.sku-popup-action {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sku-popup-body {
  padding: 10px 16px;
}

.sku-option {
  padding: 4px 6px;
  margin: 2px 4px;
  border-radius: 4px;
  border: 1px solid #f3f2f2;
  font-size: 12px;
  background: #f6f4f4;
  color: #666666;
}

.sku-option.sku-option-active {
  background: rgb(235, 241, 229);
  border: 1px solid #8bc34a;
  color: #8bc34a;
}

.cartBtns {
  gap: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addToCartBtn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: start;
  cursor: pointer;
  transition: background-color 0.3s;

  font-weight: bold;
  display: flex;
  position: relative;

  color: #8bc34a;
}

.subToCartBtn {
  width: 24px;
  height: 24px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  color: #8bc34a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
