.w-1-1 {
  width: 100%;
}
.h-1-1 {
  height: 100%;
}

.nut-picker-confirm-btn {
  color: #333333;
}

/* src/app.less 或 app.scss */
@import "./assets/iconfont/iconfont.css";

:root,
page {
  --nutui-primary-color: #8cb24b; /* 设置主色调 */
  --nutui-secondary-color: #8cb24b; /* 设置辅助色 */
  --nutui-link-color: #8cb24b; /* 设置链接色 */
  --nutui-color-primary: #8cb24b; /* 设置 NutUI 主色调 */
  --background-color: #f0f0f0;
}
