// app.ts

.w-1-1 {
  width: 100%;
}
.h-1-1 {
  height: 100%;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

/* src/app.less 或 app.scss */
@import "./assets/iconfont/iconfont.css";

/* src/app.less 或 app.scss */
@import "./styles/variables.less";
