// app.ts

.w-1-1 {
  width: 100%;
}
.h-1-1 {
  height: 100%;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-red {
  color: red;
}

.text-12 {
  font-size: 12px;
}

.text-16 {
  font-size: 16px;
}

/* src/app.less 或 app.scss */
@import "./assets/iconfont/iconfont.css";

/* src/app.less 或 app.scss */
@import "./styles/variables.less";

page {
  background: #f7f8fa;
}

.vant-form-formItem {
  margin: 0 !important;
}
