.w-1-1 {
	width: 100%;
}

.h-1-1 {
	height: 100%;
}

.text-red {
	color: red;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-8 {
	margin-bottom: 8px;
}

.ml-16 {
	margin-left: 16px;
}

.ml-24 {
	margin-left: 24px;
}
